header{
    width: 100%;
    height: 400px;
    background-repeat: none;
    text-align: center;
    padding-top: 100px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}
#home header{
    background:url(images/lovely\ dogs.jpeg);
    background-size: 1500px;
    background-position: 0 -100px;
}
#adopt header{
    background: url(images/lovely\ dogs2.jpeg);
    background-size: 1500px;
    background-position: 0 -200px;
    
}
#contact header{
    background: url(images/lovely\ dogs3.jpeg);
    background-size: 1500px;
    background-position: 0 -100px;
}
header nav{
    width: 100%;
    height: 100px;
}
nav{
    text-align: center;
    background-color: rgb(178, 211, 240);
    height: 55px;
    padding-top:5px;
}
li{
    list-style-type: none;
    display: inline-block;
    padding:0 70px;
    padding-bottom: 15px;;
    border-left: 1px solid rgb(150, 145, 145);
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    height: 10px;
    text-transform: uppercase
    
}
li a{
    text-decoration: none;
    color:rgba(148, 75, 3, 0.973);
}
li a:hover{
    color: dodgerblue;
}
li.active{
    background-color: rgb(97, 97, 97,0.2) ;
}
li.active a{
    color: dodgerblue;
}

main{
    margin-top: 20px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main .picture{
    text-align:center;
}


main h2{
    color: dodgerblue;
}



footer{
    background-color: rgb(178, 211, 240);
    margin-top: 100px;
    width: 100%;
    height:155px;
    padding-bottom: 1em;
    
}

footer #lastpart .copyright{
    padding:3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #lastpart .media{
    padding:2.5em;
    margin-right: 20px;
    float:right;
}
footer #lastpart2{
    clear:both
}
footer #lastpart2 p{
    font-size:0.85;
    text-align: center;
}

table{
    width:800px;
    margin: 50px auto 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
caption{
    background: rgb(150, 105, 156);
    height:40px;
    color: white;
    padding-top:15px;
    font-weight: bold;
    font-size: larger;
}
thead{
    background: rgb(187, 150, 192);
    
}
tbody{
    background: rgb(212, 195, 214);
    text-align: center;
}
tr td:first-child{
    background: rgb(187, 150, 192);
}
th,td{
    width:350px;
    height:50px;
}
table,caption,th,td{
    border:1px solid rgb(216, 186, 13);
}

form{
    margin-top: 10px;
    margin-left:410px;
    width:43%;
}
legend{
    text-transform: uppercase;
    color: dodgerblue;
    font-weight: bold;
}
fieldset{
    border:4px solid dodgerblue;
    height: 500px;
}
label{
    font-weight: bold;
    font-size: 15px;
    margin-left:25px;
}

input{
    display: block;
}
.textbox label{
    display:block;
    margin-top: 10px;
}
.radios{
    margin-top: 15px;
}
.radios label {
    display: inline;
}
.selectmenu{
    margin-top: 15px;
}

.selectmenu label{
    display:inline;
}
input{
    margin-left: 25px; 
}

.textbox input{
    width:390px;
}
.commentbox label{
    display: block;
    margin-top: 15px;
}
textarea{
    width:400px;
    height: 180px;
    margin-left: 25px;
    
}

input[type="submit"]{
    width:120px;
    height:40px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 310px;
    background-color: rgba(148, 75, 3, 0.705);
    color:white;
    font-weight: bold;
    font-size: medium;
}
input[type="radio"]{
    display:inline
}